@page
@model IndexModel
@{
    ViewData["Title"] = "Gyroscope Menu";
}

@using GyroScope.Data;
@using GyroScope.Data.Enums;
@using GyroScope.Data.Drinks;

<form id="menu">
    <div id="filters">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search">


        <h4>Entree</h4>
        <label>
            <input type="checkbox" name="entrees" value="true" checked="@Model.IsEntree" />
        </label>

        <h4>Side</h4>
        <label>
            <input type="checkbox" name="sides" value="true" checked="@Model.IsSide" />
        </label>
        <h4>Treats</h4>
        <label>
            <input type="checkbox" name="treats" value="true" checked="@Model.IsTreat" />
        </label>
        <h4>Drink</h4>
        <label>
            <input type="checkbox" name="drinks" value="true" checked="@Model.IsDrink" />
        </label>


        <h2></h2>
        <h4>Calories    </h4>
        Between
        <input name="CalorieMin" type="number" min="0" max="1000" step="0.1" placeholder="min" value="@Model.CalorieMin" />
        and
        <input name="CalorieMax" type="number" min="0" max="1000" step="0.1" placeholder="max" value="@Model.CalorieMax" />

        <h4>Price    </h4>
        Between
        <input name="PriceMin" type="number" min="0" max="8.00" step="0.1" placeholder="min" value="@Model.PriceMin" />
        and
        <input name="PriceMax" type="number" min="0" max="8.00" step="0.1" placeholder="max" value="@Model.PriceMax" />
    </div>
</form>

    <h1 class="display-4">Gyro Scope</h1>
    <p>When the planets align!</p>

    <div class="text-center">
        <div id="entrees" class="allEntrees">
            <h2 class="Entrees">
                Entrees
            </h2>
            <hr style="border-top-color: white;" />
            <ul>
                @foreach (IMenuItem entree in @Model.Entrees)
                {
                    <li>
                        <p class="itemName">
                            @entree.Name
                        </p>
                        <p class="itemDescription">
                            @entree.Description
                        </p>
                        <p class="itemPrice">
                            $@entree.Price
                        </p>
                        <p class="itemCalories">
                            @entree.Calories
                        </p>
                    </li>
                }
            </ul>

        </div>

        <div id="sides" class="allSides">
            <h3 class="Sides">
                Sides
            </h3>
            <hr style="border-top-color: white;" />
            <ul>
                @foreach (IMenuItem sides in @Model.Sides)
                {
                    <li>
                        <p class="itemName">
                            @sides.Name
                        </p>
                        <p class="itemDescription">
                            @sides.Description
                        </p>
                        <p class="itemPrice">
                            $@sides.Price
                        </p>
                        <p class="itemCalories">
                            @sides.Calories
                        </p>
                    </li>
                }
            </ul>
        </div>

        <div id="treats" class="allTreats">
            <h4 class="Treats">
                Treats
            </h4>
            <hr style="border-top-color: white;" />
            <ul>
                @foreach (IMenuItem treat in @Model.Treats)
                {
                    <li>
                        <p class="itemName">
                            @treat.Name
                        </p>
                        <p class="itemDescription">
                            @treat.Description
                        </p>
                        <p class="itemPrice">
                            $@treat.Price
                        </p>
                        <p class="itemCalories">
                            @treat.Calories
                        </p>
                    </li>
                }
            </ul>
        </div>

        <div id="drinks" class="allDrinks">
            <h5 class="Drinks">
                Drinks
            </h5>
            <hr style="border-top-color: white;" />
            <ul>
                @foreach (IMenuItem drink in @Model.Drinks)
                {
                    <li>
                        <p class="itemName">
                            @drink.Name
                        </p>
                        <p class="itemDescription">
                            @drink.Description
                        </p>
                        <p class="itemPrice">
                            $@drink.Price
                        </p>
                        <p class="itemCalories">
                            @drink.Calories
                        </p>

                    </li>
                }
            </ul>
        </div>
    </div>
